* {
	display: block;
	margin: 10px;
}

head {
	display: none;
}

html {
	/* The default in most browsers, but let's set it explicitly. */
	font-size: 16px;
}

li {
	display: list-item;
}

div {
	background-color: orange;
}

h1{
	font-size:2em;
}

h2{
	font-size:1.5em;
}

li{
	font-size:1.1em;
}
ul ul li{
	font-size:0.9em;
}
div{
	width:30em;
}